<a href="https://colab.research.google.com/github/pabbavaishnavi11/DataScience/blob/main/UniAcco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [575]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

from sklearn.compose import ColumnTransformer

In [576]:
data = pd.read_csv('/content/Data_Science_Internship - Dump.csv')

In [577]:
data.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [578]:
data = data[data['status'].isin(['WON', 'LOST'])]

In [579]:
#data.info()

In [580]:
#data.isna().sum()

In [581]:
data['status'].value_counts()

LOST    43244
WON      3073
Name: status, dtype: int64

In [582]:
won=data[data.status=='WON']
lost=data[data.status=='LOST']

In [583]:
won.shape

(3073, 16)

In [584]:
lost.shape

(43244, 16)

In [585]:
won.budget.describe()

count                     2994
unique                     346
top       £121 - £180 Per Week
freq                       637
Name: budget, dtype: object

In [586]:
lost.budget.describe()

count                   39629
unique                   1769
top       £60 - £120 Per week
freq                     9228
Name: budget, dtype: object

In [587]:
lost.lost_reason.describe()

count                43244
unique                  30
top       Low availability
freq                  8892
Name: lost_reason, dtype: object

In [588]:
won.lease.describe()

count                                    3017
unique                                     77
top       Full Year Course Stay 40 - 44 weeks
freq                                      801
Name: lease, dtype: object

In [589]:
won.isna().sum()

Unnamed: 0           0
Agent_id             0
status               0
lost_reason       3073
budget              79
lease               56
movein             631
source               0
source_city          0
source_country       0
utm_source           0
utm_medium           0
des_city             0
des_country          0
room_type         1612
lead_id              0
dtype: int64

In [590]:
imputer = SimpleImputer(strategy='most_frequent')
won['budget']=imputer.fit_transform(won[['budget']])

<ipython-input-590-9534233cbddc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  won['budget']=imputer.fit_transform(won[['budget']])

In [591]:
imputer = SimpleImputer(strategy='most_frequent')
lost['budget']=imputer.fit_transform(lost[['budget']])

<ipython-input-591-18300f0941d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lost['budget']=imputer.fit_transform(lost[['budget']])

In [592]:
lost.lease.describe()

count                                   40964
unique                                    301
top       Full Year Course Stay 40 - 44 weeks
freq                                    10199
Name: lease, dtype: object

In [593]:
lost=lost.sample(n=3073)

In [594]:
lost.shape

(3073, 16)

In [595]:
data_new=pd.concat([won,lost],axis=0)

In [596]:
data_new.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
98,98,c077ad291c7b691b8defba867c1b937f16e878c1f3bdd5...,WON,NaN,109,51,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,8593b9db65212160979d946950601c26622a219c80f1f1...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,acb208d3ac02ab6d5a45120b4187f12bc41a132011fe1c...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b66690fb86da687dda8d0e4be51958aab94e4b595272d7...
111,111,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,WON,NaN,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,09/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ef6d625bd287131ad98e4ed57295037bb46e4864f9d6ef...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,71b89d8b802ddcc0120ec5352d9c0fe5bde35a3aff101b...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,eab489be32de234eb13f3ef643755451a2c2d876dadae9...
139,139,59e1dc79a681665177701a504d7d704e1b6e36a4e191f4...,WON,NaN,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,29/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,acb208d3ac02ab6d5a45120b4187f12bc41a132011fe1c...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Entire Place,adbc799bdd9422ca4083ef3d83389853f1d72280efe25f...
141,141,96ab6152cb421b4d4012a4903c19004608a342a5f7c667...,WON,NaN,> 300£ Per Week,Complete Education Year Stay 50 - 52 weeks,07/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,3c1def48af45cb9748302f34e57f2cbeb866de95beb0d2...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,8593b9db65212160979d946950601c26622a219c80f1f1...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,aff03877c7a6e8799057e5ad4b82de902487b7c7f30dbf...
152,152,53eb7f9dcaa22b09db85547fa158a6893089db596bfdcc...,WON,NaN,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,69f0114003f8a8ec5f99506325f8ca6a5ca237c9fe91ba...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Entire Place,1c4cb4a47a62cce90db6619f8ddeed9eb2c0a598a6d0ed...

In [597]:
data_new.isna().sum()

Unnamed: 0           0
Agent_id             0
status               0
lost_reason       3073
budget               0
lease              206
movein            1529
source               0
source_city          0
source_country       0
utm_source           0
utm_medium           0
des_city             0
des_country          0
room_type         3124
lead_id              0
dtype: int64

In [598]:
data_new=data_new.drop('movein',axis=1)
data_new=data_new.drop('source',axis=1)
data_new=data_new.drop('utm_source',axis=1)
data_new=data_new.drop('utm_medium',axis=1)
data_new=data_new.drop('des_city',axis=1)
data_new=data_new.drop('des_country',axis=1)
data_new=data_new.drop('room_type',axis=1)
data_new=data_new.drop('source_city',axis=1)

In [599]:
data_new.shape

(6146, 8)

In [600]:
data_new.isna().sum()

Unnamed: 0           0
Agent_id             0
status               0
lost_reason       3073
budget               0
lease              206
source_country       0
lead_id              0
dtype: int64

In [601]:
data_new.replace('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0', np.nan, inplace=True)

In [602]:
data_new=data_new.drop('source_country',axis=1)

In [603]:
data_new=data_new.drop('Agent_id',axis=1)
data_new=data_new.drop('Unnamed: 0',axis=1)
data_new=data_new.drop('lead_id',axis=1)

In [604]:
data_new.isna().sum()

status            0
lost_reason    3073
budget            0
lease           206
dtype: int64

In [605]:
data_new.isna().sum()

status            0
lost_reason    3073
budget            0
lease           206
dtype: int64

In [606]:
le = LabelEncoder()
data_new['budget']=le.fit_transform(data_new['budget'])

In [607]:
data_new['status']=le.fit_transform(data_new['status'])

In [608]:
data_new['lost_reason']=le.fit_transform(data_new['lost_reason'])

In [609]:
imputer = SimpleImputer(strategy='most_frequent')
data_new['lease']=imputer.fit_transform(data_new[['lease']])

In [610]:
data_new['lease']=le.fit_transform(data_new['lease'])

In [611]:
data_new.head()

     status  lost_reason  budget  lease
98        1           27     142     73
111       1           27     469     94
139       1           27     483     94
141       1           27     443     92
152       1           27     469     94

In [612]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6146 entries, 98 to 35874
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   status       6146 non-null   int64
 1   lost_reason  6146 non-null   int64
 2   budget       6146 non-null   int64
 3   lease        6146 non-null   int64
dtypes: int64(4)
memory usage: 240.1 KB

In [613]:
data_new.describe()

            status  lost_reason       budget        lease
count  6146.000000   6146.00000  6146.000000  6146.000000
mean      0.500000     21.06313   330.654409    74.726977
std       0.500041      7.02530   185.393914    33.432141
min       0.000000      0.00000     0.000000     0.000000
25%       0.000000     15.00000   171.000000    73.000000
50%       0.500000     26.50000   469.000000    92.000000
75%       1.000000     27.00000   483.000000    94.000000
max       1.000000     27.00000   499.000000   112.000000

In [614]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [615]:
x=data_new.iloc[:,1:]

In [616]:
y=data_new['status']

In [627]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=47)

In [628]:
x_train

       lost_reason  budget  lease
17449           12     117    107
19956           18     469     92
30904           27     415     45
5340            27     414     73
21701           27      14     73
...            ...     ...    ...
43986           27     494     94
11535           27     202     51
7809            17     339     61
30333           27     469     94
29328           13     494     94

[4916 rows x 3 columns]

In [629]:
y_train

17449    0
19956    0
30904    1
5340     1
21701    1
        ..
43986    1
11535    1
7809     0
30333    1
29328    0
Name: status, Length: 4916, dtype: int64

In [630]:
#y_train.reshape(len(y_train),1)

In [631]:
x_train.shape

(4916, 3)

In [632]:
clf = DecisionTreeClassifier()

In [633]:
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [634]:
y_pred = clf.predict(x_test)

In [520]:
#y_pred=y_pred.reshape(len(y_pred),1)

In [635]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[628   0]
 [  0 602]]

In [636]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

1.0

In [637]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1-score:", f1_score(y_test, y_pred))

Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1-score: 1.0